*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #151b1e;
    text-align: left;
    background-color: #f2f4f8;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h4, .h4 {
    font-size: 1.3125rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.alert-heading {
    color: inherit;
}

.alert-success {
    color: #3f6625;
    background-color: #e4f3da;
    border-color: #d9eecb;
}

.alert-success hr {
    border-top-color: #cbe8b8;
}

.alert-heading {
  color: inherit; }

.alert-link {
  font-weight: 700; }

.alert-dismissible {
  padding-right: 3.8125rem; }
  .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit; }

.alert-primary {
  color: #115770;
  background-color: #d2eef7;
  border-color: #c1e7f4; }
  .alert-primary hr {
    border-top-color: #abdff0; }
  .alert-primary .alert-link {
    color: #0a3544; }

.alert-secondary {
  color: #646973;
  background-color: #f2f4f8;
  border-color: #edf0f5; }
  .alert-secondary hr {
    border-top-color: #dde2ec; }
  .alert-secondary .alert-link {
    color: #4c5058; }

.alert-success {
  color: #3f6625;
  background-color: #e4f3da;
  border-color: #d9eecb; }
  .alert-success hr {
    border-top-color: #cbe8b8; }
  .alert-success .alert-link {
    color: #284117; }

.alert-info {
  color: #36657c;
  background-color: #e1f3fc;
  border-color: #d4eefb; }
  .alert-info hr {
    border-top-color: #bde5f9; }
  .alert-info .alert-link {
    color: #274858; }

.alert-warning {
  color: #826120;
  background-color: #fef1d8;
  border-color: #feecc9; }
  .alert-warning hr {
    border-top-color: #fee3b0; }
  .alert-warning .alert-link {
    color: #594216; }

.alert-danger {
  color: #852c2c;
  background-color: #ffdddd;
  border-color: #ffcfcf; }
  .alert-danger hr {
    border-top-color: #ffb6b6; }
  .alert-danger .alert-link {
    color: #5f1f1f; }

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe; }
  .alert-light hr {
    border-top-color: #ececf6; }
  .alert-light .alert-link {
    color: #686868; }

.alert-dark {
  color: #1d2122;
  background-color: #d7d9d9;
  border-color: #c7caca; }
  .alert-dark hr {
    border-top-color: #babebe; }
  .alert-dark .alert-link {
    color: #060606; }

.alert-blue {
  color: #115770;
  background-color: #d2eef7;
  border-color: #c1e7f4; }
  .alert-blue hr {
    border-top-color: #abdff0; }
  .alert-blue .alert-link {
    color: #0a3544; }

.alert-indigo {
  color: #35087e;
  background-color: #e0cffc;
  border-color: #d4bcfb; }
  .alert-indigo hr {
    border-top-color: #c5a4fa; }
  .alert-indigo .alert-link {
    color: #21054e; }

.alert-purple {
  color: #3a2264;
  background-color: #e2d9f3;
  border-color: #d7caee; }
  .alert-purple hr {
    border-top-color: #c8b7e8; }
  .alert-purple .alert-link {
    color: #24153e; }

.alert-pink {
  color: #792049;
  background-color: #fad8e8;
  border-color: #f9c9df; }
  .alert-pink hr {
    border-top-color: #f6b2d1; }
  .alert-pink .alert-link {
    color: #511531; }

.alert-red {
  color: #852c2c;
  background-color: #ffdddd;
  border-color: #ffcfcf; }
  .alert-red hr {
    border-top-color: #ffb6b6; }
  .alert-red .alert-link {
    color: #5f1f1f; }

.alert-orange {
  color: #826120;
  background-color: #fef1d8;
  border-color: #feecc9; }
  .alert-orange hr {
    border-top-color: #fee3b0; }
  .alert-orange .alert-link {
    color: #594216; }

.alert-yellow {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba; }
  .alert-yellow hr {
    border-top-color: #ffe8a1; }
  .alert-yellow .alert-link {
    color: #533f03; }

.alert-green {
  color: #3f6625;
  background-color: #e4f3da;
  border-color: #d9eecb; }
  .alert-green hr {
    border-top-color: #cbe8b8; }
  .alert-green .alert-link {
    color: #284117; }

.alert-teal {
  color: #11694f;
  background-color: #d2f4ea;
  border-color: #c1f0e2; }
  .alert-teal hr {
    border-top-color: #acebd8; }
  .alert-teal .alert-link {
    color: #0a3d2e; }

.alert-cyan {
  color: #36657c;
  background-color: #e1f3fc;
  border-color: #d4eefb; }
  .alert-cyan hr {
    border-top-color: #bde5f9; }
  .alert-cyan .alert-link {
    color: #274858; }

.alert-gray-100 {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe; }
  .alert-gray-100 hr {
    border-top-color: #ececf6; }
  .alert-gray-100 .alert-link {
    color: #686868; }

.alert-gray-200 {
  color: #75787c;
  background-color: #f9fafc;
  border-color: #f7f8fb; }
  .alert-gray-200 hr {
    border-top-color: #e6e9f3; }
  .alert-gray-200 .alert-link {
    color: #5c5f62; }

.alert-gray-300 {
  color: #646973;
  background-color: #f2f4f8;
  border-color: #edf0f5; }
  .alert-gray-300 hr {
    border-top-color: #dde2ec; }
  .alert-gray-300 .alert-link {
    color: #4c5058; }

.alert-gray-400 {
  color: #465359;
  background-color: #e7ecee;
  border-color: #dde4e8; }
  .alert-gray-400 hr {
    border-top-color: #ced8de; }
  .alert-gray-400 .alert-link {
    color: #30383c; }

.alert-gray-500 {
  color: #36474f;
  background-color: #e1e7ea;
  border-color: #d4dee2; }
  .alert-gray-500 hr {
    border-top-color: #c5d2d8; }
  .alert-gray-500 .alert-link {
    color: #212c31; }

.alert-gray-600 {
  color: #535a6a;
  background-color: #eceff5;
  border-color: #e4e8f0; }
  .alert-gray-600 hr {
    border-top-color: #d4dae7; }
  .alert-gray-600 .alert-link {
    color: #3d424d; }

.alert-gray-700 {
  color: #202a2f;
  background-color: #d8dcde;
  border-color: #c9ced1; }
  .alert-gray-700 hr {
    border-top-color: #bbc2c5; }
  .alert-gray-700 .alert-link {
    color: #0b0f11; }

.alert-gray-800 {
  color: #1d2122;
  background-color: #d7d9d9;
  border-color: #c7caca; }
  .alert-gray-800 hr {
    border-top-color: #babebe; }
  .alert-gray-800 .alert-link {
    color: #060606; }

.alert-gray-900 {
  color: #0b0e10;
  background-color: #d0d1d2;
  border-color: #bdbfc0; }
  .alert-gray-900 hr {
    border-top-color: #b0b2b4; }
  .alert-gray-900 .alert-link {
    color: black; }